<div class="notification">
  <div class="notification-content">
    <p><small><%= comment.user.first_name %> - <%= comment.created_at.strftime('%d/%m/%Y') %></small></p>
    <p><%= comment.content %></p>
  </div>
</div>
