<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-brand" id="sidebarCollapse">
    <i class="fas fa-bars fa-lg"></i>
  </div>
  <div class="navbar-title">
    <%= yield :title %>
  </div>
</div>
