<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-left">
    <%= yield :action %>
    <div class="navbar-title">
      <%= yield :title %>
    </div>
  </div>
  <div class="navbar-right">
    <%= yield :add %>
  </div>
</div>
