<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <div>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to "Déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% else %>
        <%= link_to "Me connecter", new_user_session_path, class: "nav-link" %>
      <% end %>
    </ul>
  </div>
</div>
