<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upload.wikimedia.org/wikipedia/commons/0/0e/Clementinum_library.jpg);">
  <div class="container">
    <h1>ÇA PART EN LIVRE</h1>
    <p>Joue pas perso, partage tes bouquins !</p>
    <%= link_to "Recherche un livre et partage le !", books_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <% if @books %>
    <%@books.each_with_index do |book, index| %>
      <%= render 'book', book: book, index: index %>
    <% end %>
  <% else %>
    <p>Aucun livre pour le moment... Ajoutes-en !</p>
  <% end %>
</div>
