#groupDetailsCollapse {
  i {
    color: #A9A9A9;
    margin-right: 10px;
  }
}

.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00BFFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  height: 70px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand i {
  color: white;
}

.navbar-title {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;

  img {
    margin-right: 10px;
  }

  a {
    margin-left: 5px;
    display: flex;
    align-items: center;
  }

  p {
    margin-bottom: 0;
  }
}
